<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- Set default log level -->
    <property name="LOG_LEVEL" value="INFO"/>
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- Console Output (Plain Text) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="${LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
    </root>
    
    <logger name="dev.shiwa.jwtstarter" level="DEBUG"/>
    

</configuration>